#main {
    width:390px;
    margin:0 auto;
    text-align:center;
    font-family: Comic Sans, Comic Sans MS, cursive;
    color:#555;
    font-size:13px;
}

select, input {
    padding:5px;
    font-size:17px;
    margin:5px;
}

input.placar {
    width:30px;
    text-align:center;
}

table {
    width:370px;
    border:0;
}

table th, table td {
    padding:3px;
}

table th {
    background-color:#333;
    color:#fff;    
}

table td {
    text-align:center;
}

#cmp-vencedor {
    background-color:#afa;
}
